<h3>Mis Conocimientos Actualmente:</h3>
<div class="carousel-container">
        <div class="logo-slider1">
            <div class="item"><a href="#"><img class="imgCarrusel" src="../../../assets/img/LogoJs.png" alt="JavaScript"></a></div>
            <div class="item"><a href="#"><img class="imgCarrusel" src="../../../assets/img/LogoHtml.png" alt="HTML"></a></div>
            <div class="item"><a href="#"><img class="imgCarrusel" src="../../../assets/img/LogoCss.png" alt="CSS"></a></div>
            <div class="item"><a href="#"><img class="imgCarrusel" src="../../../assets/img/LogoSql.png" alt="SQL"></a></div>
            <div class="item><a href="#"><img  class="imgCarrusel" src="../../../assets/img/LogoFigma.png" alt="Figma"></a></div>
            <div class="item"><a href="#"><img class="imgCarrusel" src="../../../assets/img/LogoVisualStudioCode.png" alt=""></a></div>
            <div class="item"><a href="#"><img class="imgCarrusel" src="../../../assets/img/LogoGit.png" alt=""></a></div>
            <div class="item"><a href="#"><img class="imgCarrusel" src="../../../assets/img/LogoGitHub.png" alt=""></a></div>
            <div class="item"><a href="#"><img class="imgCarrusel" src="../../../assets/img/LogoBootstrap.png" alt=""></a></div>
        </div>
    </div>