<h3>Mis planes a futuro:</h3>
<div class="carousel-container">
    <div class="logo-slider3">
        <div class="item"><a href="#"><img class="imgCarrusel" src="../../../assets/img/LogoNext.png" alt="next.js"></a></div>
        <div class="item"><a href="#"><img class="imgCarrusel" src="../../../assets/img/LogoPhp.png" alt="php"></a></div>
        <div class="item"><a href="#"><img class="imgCarrusel" src="../../../assets/img/LogoLaravel.png" alt="laravel"></a></div>
        <div class="item"><a href="#"><img class="imgCarrusel" src="../../../assets/img/LogoWordPreess.png" alt="WordPress"></a></div>
        <div class="item"><a href="#"><img class="imgCarrusel" src="../../../assets/img/LogoSalesForce.png" alt="Salesforce."></a></div>
        <div class="item"><a href="#"><img class="imgCarrusel" src="../../../assets/img/LogoOutsystems.png" alt="outsystems"></a></div>
        <div class="item"><a href="#"><img class="imgCarrusel" src="../../../assets/img/LogoSap.png" alt="sap"></a></div>
        <div class="item"><a href="#"><img class="imgCarrusel" src="../../../assets/img/LogoWebPack.png" alt="webPack"></a></div>
        <div class="item"><a href="#"><img class="imgCarrusel" src="../../../assets/img/LogoMagento2.png" alt="magento"></a></div>
       
        
    </div>
</div>