<h3>Estoy aprendiendo y reforzando:</h3>
<div class="carousel-container">
    <div class="logo-slider2">
        <div class="item"><a href="#"><img class="imgCarrusel" src="../../../assets/img/LogoJava.png" alt="java"></a></div>
        <div class="item"><a href="#"><img class="imgCarrusel" src="../../../assets/img/LogoReact.png" alt="React.js"></a></div>
        <div class="item"><a href="#"><img class="imgCarrusel" src="../../../assets/img/LogoNode.png" alt="node.js"></a></div>
        <div class="item"><a href="#"><img class="imgCarrusel" src="../../../assets/img/LogoSpringBoot.png" alt="SpringBoot"></a></div>
<!--         <div class="item><a href="#"><img class="imgCarrusel" src="../../../assets/img/LogoPug.png" alt="pug.js"></a></div> -->
        <div class="item"><a href="#"><img class="imgCarrusel" src="../../../assets/img/LogoSass.png" alt="sass"></a></div>
        <!-- <div class="item"><a href="#"><img class="imgCarrusel" src="../../../assets/img/LogoGulps.png" alt="Gulps.js"></a></div> -->
        <div class="item"><a href="#"><img class="imgCarrusel" src="../../../assets/img/LogoMongo.png" alt="mongoDB"></a></div>
        <div class="item"><a href="#"><img class="imgCarrusel" src="../../../assets/img/LogoExpress.webp" alt="express.js"></a></div>
    </div>
</div>