<div class="container-esperiencia"></div>
	
	<main class="row">
		
		<!--   *******  Education Section Starts  *******   -->

		<section class="col">
			
			<header class="title">
				<h2>Academica</h2>
			</header>

			<div class="contents">
				
				<div class="box">
                    <!-- <img src="../../../assets/img/logo-duoc.png" alt="" style="width: 100px;"> -->
					<h4>2020 - 2023</h4>
					<h3>Duoc UC</h3>
                    <h3>Analista Programdor Computacional</h3>
					<p>
                        Durante mi carrera, adquirí sólidos conocimientos en lógica de programación
                        y me especialicé en las bases del desarrollo front-end, trabajando con HTML,
                        CSS, JavaScript y Bootstrap. Además, dediqué un tiempo significativo al modelamiento
                        y consulta de bases de datos, lo que me permitió desarrollar una fuerte comprensión
                        en esta área. También tuve formación en gestión de proyectos, aprendiendo a aplicar metodologías
                        como cascada, Scrum y Kanban, lo que fortaleció mis habilidades de trabajo en equipo y comunicación efectiva.
                    </p>
				</div>

				<div class="box">
					<h4>2022 - 2023</h4>
					<h3>Generation Chile</h3>
                    <h3>Bootcamp desarrollador Full-Stack jr java</h3>
					<p>
                        En el bootcamp de Generation Chile, desarrollé tanto habilidades técnicas como
                        habilidades blandas. Aprendí los fundamentos de Java y su implementación con 
                        Spring Boot. En el proyecto integrador, fui responsable del front-end, la maquetación,
                        y el modelamiento de la base de datos, lo que me permitió aplicar mis conocimientos
                        en un entorno práctico y colaborativo. Fue una experiencia enriquecedora que me ayudó 
                        a fortalecer mis habilidades y trabajar eficazmente en equipo.
                    </p>
				</div>

				<div class="box">
					<h4>2022 - 2023</h4>
					<h3>Fundacion Forge Chile</h3>
                    <h3>Tu Futuro</h3>
					<p>
                        Este curso me ayudó a desarrollar habilidades blandas esenciales para convertirme en un profesional de calidad y
                        enfrentar la vida laboral de manera adecuada. Aprendí a manejar mejor la comunicación, el trabajo en equipo y la 
                        resolución de problemas, lo que me preparó para los desafíos del entorno profesional.
                    </p>
				</div>

                <div class="box">
					<h4>2024 - cursando</h4>
					<h3>Desafio Latam</h3>
                    <h3>Bootcamp desarrollador Full-Stack jr javaScript</h3>
					<p>
                        El objetivo de este bootcamp es aprender React y desarrollar habilidades en 
                        el desarrollo full-stack utilizando JavaScript. El programa está diseñado para 
                        proporcionar una comprensión completa de las tecnologías front-end y back-end, 
                        con un enfoque en la construcción de aplicaciones web modernas y eficientes. A 
                        través de una combinación de teoría y práctica, los participantes adquirirán las 
                        competencias necesarias para enfrentar desafíos en el desarrollo web y contribuir 
                        de manera efectiva a proyectos completos.
                    </p>
				</div>
                <div class="box">
					<h4>2024 - cursando</h4>
					<h3>Programa ONE de Oracle y Alura Latam</h3>
                    <h3>Curso de Programación con Especialización en Back-end</h3>
					<p>
                        El objetivo de inscribirme en este curso es reforzar y adquirir nuevos 
                        conocimientos en Java y Spring. Busco profundizar mi comprensión de estas 
                        tecnologías para mejorar mi capacidad de desarrollar aplicaciones robustas 
                        y escalables. A través de este curso, quiero aprender a manejar de manera 
                        más eficiente Java y el framework Spring, optimizar el desarrollo de aplicaciones 
                        Back-end y aplicar buenas prácticas en el diseño y la implementación de soluciones 
                        tecnológicas.
                    </p>
				</div>

			</div>
		</section>

		<!--   *******  Education Section Ends  *******   -->

		<!--   *******  Experience Section Starts  *******  -->

		<section class="col">
			
			<header class="title">
				<h2>Laboral</h2>
			</header>

			<div class="contents">
				
				<div class="box">
					<h4> Febrero 2023 - Marzo 2023 </h4>
                    <h3>Vida Camara</h3>
					<h3>Practicante TI Analista Programador </h3>
					<p>
                        -Organización Jira
                    </p>
                         
                    <p>
                        -Introducción a diagramación UML
                    </p>
                        
                    <p>
                        -Creación De ETL en DataStage IBM
                    </p>
				</div>

				<div class="box">
					<h4> Junio 2023 - Febrero 2024</h4>
                    <h3>Vida Camara</h3>
					<h3>Analista Programador jr</h3>
					<p>Analisis de requerimiento y gestion de incidencias Basica</p>
                    <p>Resolución de incidencias básicas en Java (Spring Boot), SQL, JavaScript y React.js.</p>
                    <p>Pruebas de usuario, regresión, funcionales y de Integración</p>
                    <p>Trabajo bajo una modalidad ágil Scrum.</p>
				</div>

				

			</div>
		</section>

		<!--   *******  Experience Section Ends   *******  -->
	</main>
</div>