<!--icono 1 linkedin -->
    <a href="https://www.linkedin.com/in/luisisraelserranomiranda/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
    
<!--icono 2 github-->
    <a href="https://github.com/luisserranom" target="_blank"><i class="fa-brands fa-github"></i></a>
    
<!--icono 3 Behance-->
    <a href="https://www.behance.net/luisserrano48" target="_blank"><i class="fa-brands fa-behance"></i></a>
    
 <!--icono 4 cv-->
 <img src="../../../assets/img/3789854.png" alt="Descargar CV" style="width: 40px; height: 40px; cursor: pointer;" id="openModalBtn">


<div id="pdfModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <iframe src="../../../assets/pdf/tu_cv.pdf" type="application/pdf" width="100%" height="600px">
            Este navegador no soporta PDFs. Por favor, descarga el PDF para verlo: <a href="../../../assets/pdf/tu_cv.pdf">Descargar PDF</a>.
        </iframe>
    </div>
</div>



    
