<h1>Hola Mundo!</h1>

<p>
    Soy Luis Israel Serrano Miranda, programador
    Jr/Trainee con pasión por el desarrollo frontend
    y un interés creciente en bases de datos .
    Aunque mi conocimiento son básico, estoy ansioso
    por aprender y mejorar.
</p>

<p>
    Soy egresado de Analista Programador Computacional
    en Duoc UC, con experiencia en trabajo en equipo y
    habilidades empáticas. He completado el bootcamp de 
    Generation Chile y el curso 'Tu Futuro' de Fundación 
    Forge. Actualmente, estoy cursando el programa ONE 
    (Oracle Next Education) y el bootcamp de DesafíoLatam 
    en Programación Full Stack en JavaScript.
</p>

<p>
    Busco oportunidades para aprender y crecer, con el objetivo de ser
    un desarrollador web Full Stack que domine diversas herramientas y
    tecnologías. Gracias por visitar mi portafolio,
    ¡espero que disfrutes explorando mis proyectos tanto como yo disfruto
    creándolos!!
</P>

<p>
    Abajo encontrarás enlaces a mis redes sociales y
    mi currículum vitae actualizado.
</p>

