<h1>Hola Mundo! 
    <br>
     <b>Soy Luis Serrano</b>
</h1>


<p>
    Soy un programador Jr/Trainee con una pasion en el desarrollo
    frontend y un interés en bases de datos. Siempre abierto a nuevos aprendizajes
    y desafíos, busco expandir continuamente mis conocimientos y habilidades.
</p>

<p>
    Egresado de Analista Programador Computacional en Duoc UC, he participado en bootcamps
     como Generation Chile (Java full Stack jr) y el curso "Tu Futuro" de Fundación Forge (soft skills). Actualmente, continúo 
     formándome en el programa ONE (Programacion) y el bootcamp de DesafíoLatam ( javaScript full Stack jr ). Estoy en la búsqueda 
     de oportunidades para crecer y mejorar en el desarrollo web Full Stack.
</p>
 
<!-- <p>
    ¡Gracias por visitar mi portafolio!
</P>
 -->

