<div class="container ">
    <div class="card card-custom">
      <!-- Carousel Section -->
      <div id="carouselExample2" class="carousel slide">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img
              src="../../../assets/img/proyectoEncriptador3.png"
              class="d-block w-100"
              alt="Image 1"
              
            />
          </div>
          <div class="carousel-item">
            <img
              src="../../../assets/img/proyectoEncriptador2.png"
              class="d-block w-100"
              alt="Image 2"
              style="
                min-height: 234px;
                max-height: 235px;
                object-fit: cover;
              "
            />
          </div>
          <div class="carousel-item">
            <img
              src="../../../assets/img/proyectoEncriptador1.png"
              class="d-block w-100"
              alt="Image 3"
              style="
                min-height: 234px;
                max-height: 235px;
                object-fit: cover;
              "
            />
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExample2"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExample2"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

      <!-- Icon Section -->
      <div class="icon-section">
        <i class="fa-brands fa-js"></i>
        <i class="fa-brands fa-html5"></i>
        <i class="fa-brands fa-css3"></i>
        <i class="fa-brands fa-git-alt"></i>
        <i class="fa-brands fa-github-alt"></i>
        <svg
          class="custom-icon"
          data-testid="geist-icon"
          height="20"
          stroke-linejoin="round"
          viewBox="0 0 16 16"
          width="16"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M8 1L16 15H0L8 1Z"
            fill="currentColor"
          ></path>
        </svg>
      </div>

      <!-- Button Section -->
      <div class="btn-section">
        <a href="https://github.com/luisserranom/Desafio-ONE-Encriptador-" target="_blank" class="btn">
          <i class="fa-brands fa-github"></i> Repositorio
        </a>
        <a href="https://desafio-one-encriptador.vercel.app/" target="_blank" class="btn">
          <i class="fa-solid fa-globe"></i> SitioWeb
        </a>
        <!-- <button class="btn btn-success">Diseño</button> -->
        <!-- <button class="btn btn-danger">demo</button> -->
      </div>

      <!-- Description Section -->
      <div class="description-section">
        <h5 class="card-title">Challenger ONE encriptador.</h5>
        <p class="card-text">
          Este es el desafío del Encriptador del programa ONE de Oracle y Alura Latam. En 
          este proyecto, utilicé una variedad de tecnologías y herramientas para su desarrollo 
          y despliegue: HTML y CSS: Implementé la estructura y el diseño del proyecto utilizando
          Grid y Flexbox para crear una interfaz de usuario moderna y adaptable. Utilicé media 
          queries para asegurar que el diseño fuera completamente responsive y se ajustara 
          adecuadamente a diferentes tamaños de pantalla. JavaScript: Desarrollé la lógica
          del encriptador y desencriptador, garantizando que el código fuera eficiente y 
          funcional. Git y GitHub: Empleé estas herramientas para el control de versiones y 
          la gestión del repositorio, facilitando la colaboración y el seguimiento de cambios
          en el proyecto. Vercel: Desplegué el encriptador/desencriptador en Vercel, una 
          plataforma que ofrece un hosting rápido y confiable para aplicaciones web.
          Este proyecto demuestra mi capacidad para integrar diversas tecnologías y 
          herramientas en un flujo de trabajo cohesivo y mi habilidad para crear soluciones
          completas y funcionales, incluyendo la implementación de diseño responsivo a través
          de media queries.
        </p>
      </div>

      <!-- "Ver más" Button -->
      <div class="read-more">
        <button
          class="btn btn-link custom-button-color"
          data-bs-toggle="modal"
          data-bs-target="#descriptionModal2"
        >
          Ver más aqui!! ...
        </button>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div
    class="modal fade"
    id="descriptionModal2"
    tabindex="-1"
    aria-labelledby="descriptionModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="descriptionModalLabel">
            Challenger ONE encriptador.
          </h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-iconos-tegnologias">
          <i class="fa-brands fa-js"></i>
          <i class="fa-brands fa-html5"></i>
          <i class="fa-brands fa-css3"></i>
          <i class="fa-brands fa-git-alt"></i>
          <i class="fa-brands fa-github-alt"></i>
        </div>
        <div class="modal-body">
          Este es el desafío del Encriptador del programa ONE de Oracle y Alura Latam. En 
          este proyecto, utilicé una variedad de tecnologías y herramientas para su desarrollo 
          y despliegue: HTML y CSS: Implementé la estructura y el diseño del proyecto utilizando
          Grid y Flexbox para crear una interfaz de usuario moderna y adaptable. Utilicé media 
          queries para asegurar que el diseño fuera completamente responsive y se ajustara 
          adecuadamente a diferentes tamaños de pantalla. JavaScript: Desarrollé la lógica
          del encriptador y desencriptador, garantizando que el código fuera eficiente y 
          funcional. Git y GitHub: Empleé estas herramientas para el control de versiones y 
          la gestión del repositorio, facilitando la colaboración y el seguimiento de cambios
          en el proyecto. Vercel: Desplegué el encriptador/desencriptador en Vercel, una 
          plataforma que ofrece un hosting rápido y confiable para aplicaciones web.
          Este proyecto demuestra mi capacidad para integrar diversas tecnologías y 
          herramientas en un flujo de trabajo cohesivo y mi habilidad para crear soluciones
          completas y funcionales, incluyendo la implementación de diseño responsivo a través
          de media queries.
        </div>
        <div class="modal-footer">
          <a href="https://github.com/luisserranom/Desafio-ONE-Encriptador-" target="_blank" class="btn">
            <i class="fa-brands fa-github"></i> Repositorio
          </a>
          <a href="https://desafio-one-encriptador.vercel.app/" target="_blank" class="btn">
            <i class="fa-solid fa-globe"></i> SitioWeb
          </a>
        </div>
      </div>
    </div>
  </div>
