@import url(normalise.css);
@import url(colores.css);
@import url(animacionCarrusel.css);
@import url(scrollbar.css);
@import url(card.css);
@import url(footer.css);
@import url(fuentes.css);
@import url(experiencia.css);


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

html{
    font-size: 16pt;;
}

img{
    max-width: 100%;
}

@media (max-width: 480px) {
    body{
        background: rgb(0, 255, 42);
        margin: 100px;
        height: 100px;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    body{
        background: rgb(0, 129, 235);
        margin: 100px;
        height: 100px;
    }
}

@media (min-width: 769px) and (max-width: 1023px) {
    body{
        background: rgb(111, 0, 255);
        margin: 100px;
        height: 100px;
    }
}

@media (min-width: 1024px) {
    

    /*Contenedor principal grid*/
    .contenedor__principal {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: 
            "nadvar nadvar nadvar"
            "sobre-mi sobre-mi foto-perfil" 
            "tegnologias tegnologias tegnologias"
            "proyectos-destacados proyectos-destacados proyectos-destacados"
            "experiencias experiencias experiencias"
            "footer footer footer";
    }
    
    /* Nadvar */
    .contenedor__nadvar {
        grid-area: nadvar;
        font-family: var(--fuente-pixels);
        font-size: 110%;
        
    }
    
    .navbar__nav{
        background-color: var(--color-secundario);
    }

    .nav-item{
        display: flex;
        align-items: center;
        color: var(--color-principal);
    }
    /* Sobre mí */
    .contenedor__sobre-mi {
        grid-area: sobre-mi;
        background-color: var(--color-principal);
        color: var(--color-letras);
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .contenedor__sobre-mi h1{
        font-family: var(--fuente-titulo);
        font-weight: 900;
        font-size: 220%;
    }
    .contenedor__sobre-mi p{
        margin: 0 auto; 
        width: 80%;
        margin-bottom: 3%;
        font-family: var(--fuente-pequena);
        font-weight: 530;
        
       
    }
    .contenedor__sobre-mi  b{
        margin-left: 12%;
        color: var(--color-secundario);
        font-family: var(--fuente-pixels);
        font-size: 100%;
    }
    
    /* Foto de perfil */

    .contenedor__foto-perfil {
        grid-area: foto-perfil;
        background: var(--color-principal);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        
    }

    .contenedor__foto-perfil img{
        width: 58%;
        margin: 1%;
        object-fit: cover;
        margin-top: 6%;
    }

    

    .textoDinamico{
        color: var(--color-letras);
        margin-top: 4%;
        font-family: var(--fuente-pequena);
        font-weight: 900;
    }

    .main__linksSociales__iconos{
        color: var(--color-secundario);
        display: flex;
        flex-direction: row;
        width: auto;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    }

    .main__linksSociales__iconos a {
        margin-right: 40px;
        font-size: 240%;
        color: var(--color-secundario);
        }

        .main__linksSociales__iconos button {
            margin-right: 40px;
            font-size: 240%;
            background-color: transparent;
            }
        
    }

    /*hr*/
    hr{
        color: var(--color-secundario);
        width: 80%;
        border: 3px solid var(--color-secundario);
        margin: 0 auto; margin-top: 3%;
        
    }
    /* Tecnologías */
    .contenedor__tegnologias {
        grid-area: tegnologias;
        background: var(--color-principal);
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        color: var(--color-letras);
    }

    .contenedor__tegnologias h3{
        font-family: var(--fuente-subTitulo);
        font-weight: 600;
        font-size: 165%;
        margin-top: 2%;
    }

  
    
    /* Proyectos destacados */
    /* .contenedor__proyectos-destacados {
        grid-area: proyectos-destacados;
        background: var(--color-principal);
        
        
        
        
    }
    .card-proyecto {
        
    }  */

    .contenedor__proyectos-destacados {
        grid-area: proyectos-destacados;
        background: var(--color-principal);
        display: flex;
        flex-wrap:wrap; /* Permite que las tarjetas se envuelvan en la siguiente fila si no caben en una sola */
        justify-content: space-between; 
        padding-top: 20px;
        padding-bottom: 15px;
   
      }

     
      
      .card-proyecto {
        text-align: center; /* Centra las tarjetas en el contenedor */
        width: calc(33.333% - 10px); /* Ajusta el ancho para tres tarjetas por fila con espacio entre ellas */
        margin-bottom: 10px
      }
    /* experiencias*/
    .contenedor__experiencia{
        grid-area: experiencias;
        background-color: var(--color-principal);
    }
    
    
    /* Footer */
    footer {
        grid-area: footer;
        background-color: var(--color-secundario);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: var(--color-letras);
       padding-top: 25px;
     }

     footer img{
        width: 4%;
        margin-bottom: 5px;
     }
            
            
        
    
    
    
}


