<nav class="navbar navbar-expand-lg body-tertiary w-100">
  <div class="container-fluid">

      <!-- Logo -->
      <a class="navbar-brand me-auto" href="Navbar">
          <img src="../../assets/img/LogoPortafolio1.png" alt="Logo" width="60rem" height="60rem">
      </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <i class="fa-solid fa-house"></i>
                <a class="nav-link active" aria-current="page" href="index.html">Inicio</a>
              </li>
              <li class="nav-item">
                <i class="fa-solid fa-user"></i>
                <a class="nav-link" href="#">Sobre Mi</a>
              </li>
              <li class="nav-item">
                <i class="fa-solid fa-microchip"></i>
                <a class="nav-link" href="#">Tegnologias</a>
              </li>
              <li class="nav-item">
                <i class="fa-solid fa-desktop"></i>
                <a class="nav-link" href="#">Proyectos</a>
            </li>  
          </ul>
      </div>
  </div>
</nav>